<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.matatalab.matatacode">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <!-- 蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <!-- Hardware acceleration is very important for X5 video playback. -->

    <application
        android:name=".app.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MatataCode"
        tools:replace="android:label"
        android:largeHeap="true"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.Fullscreen">
        <activity
            android:name=".StartActivity"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CodingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:theme="@style/Theme.AppCompat.Light.Fullscreen"
            android:maxAspectRatio="2.28"
            tools:ignore="LockedOrientationActivity">
        </activity>
        <activity
            android:name=".RockerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:theme="@style/Theme.AppCompat.Light.Fullscreen"
            tools:ignore="LockedOrientationActivity"></activity>
        <activity
            android:name=".BleTestActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:theme="@style/Theme.AppCompat.Light.Fullscreen"
            tools:ignore="LockedOrientationActivity"></activity>
        <activity
            android:name=".FristActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:theme="@style/Theme.AppCompat.Light.Fullscreen"
            tools:ignore="LockedOrientationActivity"></activity>
        <activity
            android:name=".FileActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:theme="@style/Theme.AppCompat.Light.Fullscreen"
            tools:ignore="LockedOrientationActivity"></activity>
        <activity
            android:name=".UpgradeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:theme="@style/Theme.AppCompat.Light.Fullscreen"
            tools:ignore="LockedOrientationActivity"></activity>
        <activity
            android:name=".UpgradeReadyActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:theme="@style/Theme.AppCompat.Light.Fullscreen"
            tools:ignore="LockedOrientationActivity"></activity>
        <activity
            android:name=".UpgradeStartActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:theme="@style/Theme.AppCompat.Light.Fullscreen"
            tools:ignore="LockedOrientationActivity"></activity>
        <activity
            android:name=".UpgradingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:theme="@style/Theme.AppCompat.Light.Fullscreen"
            tools:ignore="LockedOrientationActivity"></activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:theme="@style/Theme.AppCompat.Light.Fullscreen"
            tools:ignore="LockedOrientationActivity"></activity>
        <activity
            android:name=".FunctionActivity"
            android:launchMode="standard"
            android:screenOrientation="landscape"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:theme="@style/Theme.AppCompat.Light.Fullscreen"
            tools:ignore="LockedOrientationActivity"></activity>
        <activity
            android:name=".dfu.NotificationActivity"
            android:label="@string/dfu_feature_title"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.Fullscreen"
            tools:ignore="LockedOrientationActivity"/>

        <service
            android:name=".dfu.DfuService"
            android:exported="true"
            android:label="@string/dfu_service_title">
            <intent-filter>
                <action android:name="no.nordicsemi.android.action.DFU_UPLOAD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
    </application>

</manifest>